* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.musicCardContainer {
  background-color: #F4F5FE;
  position: relative;
  /* height: 100vh; */
}

.sideNav {
  background-color: #fff;
  padding: 20px;
}

.sideNav__MusicCardContainer {
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
}

.musicCardContainer {
  padding: 2rem;
}


.styled-table {
  overflow-x: auto;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  /* min-width: 400px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  width: 90%;
}

.styled-table thead tr {
  /* background-color: #009879; */
  color: #797979;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr.active-row {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
}

.App-header{
  width: 400px;
  text-align: center;
  margin: 12rem auto;
  background-color: #15111e;
  color: #fff;
  border-radius: 20px;
  padding: 1rem 0;
}

.App-header a{
  /* text-decoration: none; */
  color: #999393;
}

.App-header a:hover{
  color: #797979;
}

.welcome-text{
  text-align: center;
}

.text1{
  margin: 3rem 0 1rem 0;
}

.text-yellow-400{
  color: #fcbc67;
}

span .m{
  font-size: 1rem;
}